* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  background-color: #d8d8d8;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: #fff;
  box-shadow: -1px 11px 37px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 11px 37px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 37px -10px rgba(0, 0, 0, 0.75);
}

.logo img {
  width: 30rem;
  object-fit: cover;
}

.logo-pc {
  display: block;
}

.logo-m {
  display: none;
}

.nav-toggle {
  display: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-size: 2rem;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.social-link i {
  color: #ac7de9;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 2rem;
  }

  .logo img {
    width: 18rem;
  }

  .logo-pc {
    display: none;
  }

  .logo-m {
    display: block;
  }

  .nav-toggle {
    display: block;
  }

  .menu-list {
    flex-direction: column;
    align-items: start;
  }

  .menu-item:hover {
    width: 100%;
    background-color: #ac7de9;
  }

  .social-list {
    display: none;
  }
}
